<h2><%= @timeslot.id.nil? ? "Create New Timeslot" : "Update Timeslot" %></h2>

<div class="left-column">
  <%= form_for [@vendor, @listing, @timeslot] do |f| %>
    <%= f.label :date %>
    <%= f.text_field :date %><br>

    <%= f.label :start_time, "Start Time"%>
    <%= f.text_field :start_time %><br>  

    <%= f.label :stop_time, "Stop Time" %>
    <%= f.text_field :stop_time %><br>

    <%= f.submit @timeslot.id.nil? ? "Add Timeslot" : "Save Changes" %>
  <% end %>

  <%= form_tag vendor_listing_timeslot_path, method: "DELETE" do %>
    <%= submit_tag "Delete Timeslot" %>
  <% end %>

</div>
