<h2><%= @listing.title %> - <%= link_to "Book This Listing", listing_timeslots_path(@listing) %></h2>

<div class="left-column">
  <img class="listing-photo" src="<%= @listing.listing_photo_url %>">

  <p><%= @listing.description %></p>

</div>

<div class="right-column">
  <h3>Rate: $<%= @listing.rate %></h3>

  <h3>Location</h3>
  <ul>
    <li><%= @listing.address %></li>
    <li><%= @listing.city %></li>
    <li><%= @listing.state %></li>
  </ul>

  <h3>Availability</h3>
  <ul>

    <% if @timeslots.exists? == false %>

    <li>No Availabilities At This Time</li>

    <% elsif %>

      <% @timeslots.each do |timeslot| %>
        <% if timeslot.booked == true %>
          <li class="listing-timeslot booked"><%= timeslot.date %></li>
        <% else %>
        <li class="listing-timeslot"><%= timeslot.date %></li>
          <li class="listing-timeslot">From: <%= timeslot.start_time %> To: <%= timeslot.stop_time %></li>
        <% end %>

      <% end %>
    <% end %>
  </ul>
</div>