<div class="wrapper">
  <h2>Confirm Booking Request for <%= @listing.title %></h2>

  <p>Book this space on <%= @timeslot.date %> From: <%= @timeslot.start_time.strftime(format=' %l:%M %p') %> To: <%= @timeslot.stop_time.strftime(format=' %l:%M %p') %>?</p>

  <%= form_for [@listing, @timeslot], method: "PUT" do %>
     <%= label_tag "Yes" %>
     <%= radio_button_tag :booked, 'true' %> <br>

     <%= label_tag "No" %>
     <%= radio_button_tag :booked, 'false' %><br>

     <%= submit_tag "Submit" %>
  <% end %>
</div>