<!DOCTYPE html>
<html>
<head>
  <title>SpaceSpotter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>

  <h1><%= link_to "S-p-a-c-e-Spotter", root_path %></h1>

  <div class="login">
    <% if logged_in? && current_user.role == "admin"%>
      <p><%= link_to("#{current_user.first_name}'s Profile", admin_path(current_user)) %></p>
      <p><%= link_to("Log Out", "/session", method: "delete") %></p>
    <% elsif logged_in? && current_user.role == "vendor"%>
      <p><%= link_to("#{current_user.first_name}'s Profile", vendor_path(current_user)) %></p>
      <p><%= link_to("Log Out", "/session", method: "delete") %></p>
    <% elsif logged_in? && current_user.role == "customer"%>
      <p><%= link_to("#{current_user.first_name}'s Profile", customer_path(current_user)) %></p>
      <p><%= link_to("Log Out", "/session", method: "delete") %></p>
    <% else %>
      <p><%= link_to("Please Log In","/login") %></p>
      <p><%= link_to("Register Here", new_customer_path) %></p>
    <% end %>
  </div>

</header>

<%= yield %>

</body>
</html>
